<div class="card text-center chat-container" *ngIf="authService.user">
    <div class="card-header" (click)="openCloseChat()">
      CHAT
    </div>
        
        <div class="card-body wrapper flex-col h-3/4" *ngIf="chatShow">
            <div class="flex-col h-6/8 otraclase">
                <div class="py-2 px-10 " *ngFor="let chat of chatsFirebase">
                    <div class="flex"
                    [ngClass]="{'flex-row-reverse':chat.uid==authService.user.uid}">
                        <div class= "transparente bg-white p-4 w-96 rounded-3xl mensajes" 
                        [ngClass]="{'rounded-br-none':chat.uid==authService.user.uid,'rounded-bl-none':chat.uid!=authService.user.uid}"
                        >
                            <p class="mb-1" *ngIf="chat.uid!==authService.user.uid">{{chat.email}}</p>
                            <small class="font-light">
                                {{chat.message}}
                            </small>
                            <p><small class=""	>{{chat.date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()" *ngIf="chatShow">
                <input type="text" class="form-control" placeholder="Mensaje" [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}">
                <div class=" input-group-append" (click)="sendMessage()">
                    <span class="input-group-text" id="basic-addon2">
                        <img class="chat-img" src="assets/logo.png" alt="">
                    </span>
                </div>
        </form>

  </div>