
.chat-container
{
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0;
}

.card-header
{
    background-color: #FFE8BA;
    color: #F78420;
    font-weight: 500;
    cursor: pointer;
}

.card-body{
    padding: 0.5rem;
}

.chat-img
{
    max-width: 30px;
    cursor: pointer;
}
.chat-img:active
{
    transform: scale(0.9);
}

.sent
{
    display: block;
    float: right;
    max-width: 50%;
    text-align: left;
}

.received
{
    display: block;
    float: left;
    max-width: 50%;
    text-align: left;
}


.transparente{
    background: transparent;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
   
}

.otraclase::-webkit-scrollbar{
    display: none;
}

.otraclase{
    overflow: auto;
}

.wrapper {
    position: relative;
    height: 75%;
    background: transparent;
    

    display: flex;
}

.show-chat
{
    display: none;
}