.navbar {
  background-color: #343a40; /* Dark background */
  //padding: 1rem; /* Spacing around the navbar */
}

.nav-logo {
  height: 40px; /* Set a height for the logo */
  margin-right: 1rem; /* Space between logo and nav items */
  cursor: pointer;
}

.nav-link {
  color: #ffffff; /* Link color */
  margin: 0 1rem; /* Space between nav links */
  transition: color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
}

.nav-item:hover
{
  background-color: #495057; /* Lighten on hover */
}

.nav-link:hover {
  color: #f8f9fa; /* Lighten on hover */
}

.nav-item.dropdown .dropdown-menu {
  background-color: #343a40; /* Dropdown background */
}

.dropdown-item {
  color: #ffffff; /* Dropdown item color */
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #495057; /* Highlight dropdown item on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
      padding: 0.5rem; /* Reduce padding on smaller screens */
  }

  .nav-link {
      margin: 0 0.5rem; /* Reduce space between links */
  }
}