  <div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center full-height">

      <div class="alert-container" *ngIf="endOfGame && !userWins" (click)="RootPath('home')">
        <div class="alert alert-danger" role="alert">
          Perdiste!
        </div>
      </div>
    <div class="alert-container" *ngIf="endOfGame && userWins" (click)="RootPath('home')">
        <div class="alert alert-success" role="alert">
          Victoria!
        </div>
      </div>

    <div class="row featurette container" style="padding: 1vh;">
        <div class="col-md-7 game-div">
            <h2 class="featurette-heading fw-normal lh-1">Juegos de rol: <span class="text-body-secondary"> Inspirado por juegos de rol de mesa como Dungeons & Dragons</span></h2>
            <p class="lead">Tras el éxito de algunos ejemplares de este género como Dragon Quest, Final Fantasy y Megami Tensei, el género se ramificó en dos estilos, los JRPG y WRPG, juegos de rol japoneses y juegos de rol occidentales respectivamente.</p>
        </div>
        <div class="col-md-5 game-div">
    
            <div class="d-flex align-items-center justify-content-center">
                <div class="battle-container">
                  <div class="boar-container" *ngIf="!gameStatus.isWin">
                    <img class="boar-img" src="assets/rpg/boar-fullhp.png"   *ngIf="boarStatus.health==3 && boarStatus.position == 'near'" [ngClass]="{'slideDown': boarStatus.isAttacking}">
                    <img class="boar-img" src="assets/rpg/boar-2_3.png"      *ngIf="boarStatus.health==2 && boarStatus.position == 'near'" [ngClass]="{'slideDown': boarStatus.isAttacking}">
                    <img class="boar-img" src="assets/rpg/boar-1_3.png"      *ngIf="boarStatus.health<=1 && boarStatus.position == 'near'" [ngClass]="{'openDownLeft': boarStatus.health==0}" [ngClass]="{'slideDown': boarStatus.isAttacking}">
                    <img class="boar-img" src="assets/rpg/boar-running.png"  *ngIf="boarStatus.position == 'away'" [ngClass]="{'openDownLeft': boarStatus.health==0}" [ngClass]="{'slideDown': boarStatus.isAttacking}">
                    <div>
                      <h3 class="boar-action">{{boarStatus.action}}</h3>
                    
                        <div class="d-flex">
                            <div class="health-bar">
                              <div class="health-bar-fill" *ngIf="boarStatus.health>=1"></div>
                            </div>
                            <div class="health-bar">
                              <div class="health-bar-fill" *ngIf="boarStatus.health>=2"></div>
                            </div>
                            <div class="health-bar">
                              <div class="health-bar-fill" *ngIf="boarStatus.health==3"></div>
                            </div>
                        </div>
            
                        <!--<div class="health-bar-fill" [style.width.%]="100*boarStatus.health/3"></div>-->
                    </div>
                  </div>
                
                  <div class="boar-container">
                    <img class="boar-img" src="assets/rpg/hunter.png" [ngClass]="{'slideUp': gameStatus.isAttacking}" [ngClass]="{'openDownRight': gameStatus.isDead}">
                  </div>
                
                  <div class="battle-actions d-flex">
                    <button class="action-button" (click)="advanceGame('attack')">Atacar</button>
                    <button class="action-button" (click)="advanceGame('dodge')">Esquivar</button>
                    <button class="action-button" (click)="advanceGame('close')">Acercarse</button>
                  </div>
                </div>
            </div>
            
        </div>
    </div>

</div>

  </div>

