<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Colmenas & Dragones</h1>
        <p class="lead my-3">
            Comunidad de juegos de mesa, rol y mtg commander casual.
        </p>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-group">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Fundador</strong>
            <h3 class="mb-0">Julian Sabarino</h3>
            <div class="mb-1 text-body-secondary">El loco de los graficos</div>
            <p class="card-text mb-auto">
                <br>Edad: 27 Años
                <br>Juego: Cazando el Jabalí
                <br>Nombre: Julian Sabarino
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img [src]="js_photo" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-group">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Comunidad</strong>
            <h3 class="mb-0">Colmenas & Dragones</h3>
            <div class="mb-1 text-body-secondary">Una meta</div>
            <p class="mb-auto">
              Cree esta comunidad con la intencion de reunir gente con gustos similares pero que no tienen nadie en su circulo cercano que los tenga.
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img [src]="placeholder" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>
      </div>    
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-group">
          <div class="col p-4 d-flex flex-column position-static clickable-div">
            <strong class="d-inline-block mb-2 text-success-emphasis">Juego</strong>
            <h3 class="mb-0">Cazando el Jabalí</h3>
            <div class="mb-1 text-body-secondary"> Ataca, esquiva y que no se escape.</div>
            <p class="card-text mb-auto">
              <b>
              Una demostración del inicio de los juegos de rol por turnos:
            </b>
            </p>
            <p class="card-text mb-auto">
          Cuando el Jabalí se aleje, acercate; cuando el Jabalí este por atacar, esquiva; y cuando el Jabalí este atontado, ataca.
            </p>
            <p class="card-text mb-auto">
              <i>
              Logra esto tres veces seguidas y gana.
            </i>
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/assets/rpg/boar-0_3.png" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>
      </div>
    </div>
  
  </main>